* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  background-color: #071f3a;
  color: #ffffff;
}

/* HEADER */
.header {
  background: linear-gradient(90deg, #0d47a1, #1976d2);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 28px;
  margin-bottom: 5px;
  font-weight: bold;
}

.logo h2{
  font-weight: normal;
}

/* Ícone simulando escudo */
.shield img {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

/* NAVBAR */
.navbar {
  background-color: #2196f3;
  padding: 10px;
  text-align: center;
}

.navbar a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

/* SEÇÕES */
.section {
  padding: 30px;
  border-bottom: 1px solid #1976d2;
}

.section h2 {
  margin-bottom: 15px;
  font-size: 24px;
}

.section p {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #cfd8dc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #062445;
  color: #ffffff;
}

/* CONTAINER */
.stride-container {
  width: 80%;
  /* margin: 40px auto; */
  position: relative;
}

/* ITEM */
.stride-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.stride-item:nth-child(even){
  margin-left: 30px;
}

.stride-item:nth-child(odd){
  margin-left: 60px;
}

/* ÍCONES */
.icon {
  width: 90px;
  height: 90px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  margin-right: 25px;
  color: #000;
}

/* CORES */
.yellow { background-color: #f2e97c; }
.gray   { background-color: #c4c4c4; }
.green  { background-color: #7bed9f; }
.blue   { background-color: #70a1ff; }
.red    { background-color: #ff6b6b; }
.pink   { background-color: #ff9ff3; }

/* TEXTO */
.content h3 {
  font-size: 16px;
  margin-bottom: 8px;
  border-bottom: 1px solid #ccc;
  display: inline-block;
}

.content p {
  font-size: 14px;
  color: #cfd8dc;
  max-width: 600px;
  line-height: 1.5;
}

.imagem-ilustrativa {
  position: absolute;
  right: -200px;
  top: 50px;
  width: 300px;
  height: 40rem;
  width: 30rem;
} 


/* Equipe */

.integrantes {
  display: flex;
  justify-content: center;
  gap: 100px; 
  flex-wrap: wrap;
}

.card {
  text-align: center;
  background-color: #006BFA;
  width: 400px;
  height: 500px;
  border-radius: 50px;

}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 50%; 
  object-fit: cover;
  margin-top: 10px;
}

/* Formulário */

.section-form {
  padding: 30px;
}

.section-form h2 {
  margin-bottom: 15px;
  font-size: 24px;
}

.section-form p {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #cfd8dc;
}

.form {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.section-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #0050BA;
  border-radius: 50px;
  width: 700px;
  height: 400px;
  margin: 30px auto;
}

.section-form form input {
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.section-form form textarea {
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  resize: none; 
}

.section-form form button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #2196f3;
  color: white;
  font-weight: bold;
  cursor: pointer;
}


/* Roda-pé */

footer {
  background-color: #00357A;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}